/* Custom Navbar Styling */
.navbar {
    margin: 0px;
    padding-top: 30px;
    padding-left: 30px;
  }
  .navbar-header{
    display: flex;
  }

  .navbar-title{
    margin-top: 5px;
    margin-left: 350px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-img {
    margin-top: -20px;
    width: 80px;
    height: 80px;
  }
  
  .navbar-nav {
    margin-left: 100px; /* Align the links to the right */
  }
  
  .navbar-links {
    display: flex;
    justify-content: center; /* Center the navigation links */
  }
  
  .navbar-nav .nav-link {
    font-size: 20px; /* Increased font size */
    margin-left: 50px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #3498db;
    color: white;
  }
  
  .navbar-nav .nav-link.active {
    color: #3498db;
  }
  